.main-header {
  display: inline-block;
  width: 100vw;
  position: fixed;
  background-color: #FFFFFF;
  line-height: 66px;
  z-index: 999;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .075);
}
.logo-area{
  padding-left: 20px;
}

@media (min-width: 961px) {
  .top-nav {
    float: right;
    text-transform: capitalize;
  }

  #link-menu, label {
    display: none;
  }

  .header-sec {
    float: left;
    width: 100%;
  }

  .header-sec img {
    vertical-align: middle;
  }

  .top-nav ol {
    font-weight: 300;
    margin: 0;
    padding: 0 20px 0 0;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, .98);
  }

  .nav-ol-li a {
    display: inline-block;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
  }

  .top-nav li {
    list-style-type: none;
    display: inline-block;
    margin-top: 0;
    float: left;
  }

  .nav-ol-li-home a {
    color: #f15959;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 66px;
  }

  .top-nav > ol > li {
    display: inline-block;
  }

  li > ol {
    display: none;
  }

  ol li:hover > ol {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 65px;
    list-style-type: none;
    width: 100%;
  }

  ol li:hover > ol li {
    background-color: #f15959;
    width: 33%;
    height: 150px;
    text-align: center;
    float: left;
  }

  ol li:hover > ol li:hover > ol {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #efdf;
  }

  ol li:hover > ol li:hover > ol li {
    width: 50%;
    text-align: center;
    float: left;
    height: 150px;
  }

  ol li:hover > ol > li > a {
    display: inline-block;
    width: 100%;
    height: 150px;
    line-height: 150px;
  }

  .top-nav .nav-open {
    display: inline-block;
    vertical-align: middle;
    line-height: 1px;
    font-size: 2.5rem;

  }

  .nav-ol-li ol a:hover {
    background-color: #F25A5A;
    color: white;
    font-size: 1.8rem;
  }
}