.sec-3 {
  width: 100%;
  position: relative;
  height: 40vw;
  z-index: 0;
  background-color: black;
  /*overflow: hidden;*/
}

.sec-3 > .video-bg video {
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.center-sec-3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 89%;

}

.heading-sec-3 {
  height: 55%;
  width: 25%;
  margin:2% 5%;
  position: relative;
  float: left;
}

.heading-sec-3 h2 {
  font-size: 3rem;
  font-weight: 300;
  width: 65%;
  margin: 0;
  padding: 0 0 40px 0;
  position: absolute;
  top: 10%;
  left: 25%;
}

.heading-sec-3 h3 {
  width: 56%;
  height: 50%;
  font-size: 1.4rem;
  font-weight: 100;
  position: absolute;
  top: 75%;
  left: 25%;
}

.sec-3 > div {
  display: inline-block;
  color: white;
}

.sec-3-p2 {
  float: left;
  height: 100%;
}
.img-default{
  position: absolute;
  top: 6.5%;
  left: 63.8%;
  opacity: 1;
  vertical-align: middle;
  z-index: 1;
}
.img-default img{
  align-items: center;
}
.img-default p{
  width: 60%;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
}

.ul-sec-3 {
  margin: 50px 100px;
  list-style-type: none;
  font-size: 2.5rem;
  color: #3D3D3D;
  height: 100%;
  line-height: 4.2rem;
  font-weight: 300;
}

.sec-3 figure {
  position: absolute;
  top: 30px;
  right: 80px;
  display: none;
  color: #ededed;
  width: 25%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.sec-3 figcaption {
  padding-bottom: 50px;
  line-height: 1.2rem;
}
.sec-3 .ul-sec-3 li:hover {
  color: #F14848;
}
.sec-3 .ul-sec-3 li:hover > figure {
  display: block;
  float: right;
}

.video-bg-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  display: none;
  /*overflow: hidden;*/
}
.video-bg-1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.2;
}

.sec-3 .ul-sec-3 li:hover .video-bg {
  display: block;
  background-color: black;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  z-index: -1;
  display: none;
  overflow: hidden;
}

.video-bg video {
  width: 100%;
  opacity: 0.2;
}