.sec-2 {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 6vw 0;
}

.wrap-sec-2 {
  height: 100%;
}

.heading-sec-2 h2 {
  display: inline-block;
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 3.6rem;
  font-weight: 300;
}

.p-sec-2 p {
  font-size: 1.5rem;
  line-height: 1.4em;
  font-weight: 100;
  color: #3d3d3d;
}

.sec-2 .button-sec a {
  color: #FFFFFF;
}