@media (max-width: 700px) {
    .top-nav {
        display: none;
    }
}



a:link {
    color: #3D3D3D;
}

a:visited {
    color: #3D3D3D;
}

a:hover,
a:focus {
    color: #f15959;
    outline: #f15959;
}

a:active {
    color: #3D3D3D;
}
a  {
    text-decoration: none;
}

/*----------------------------------------*/

header #main-nav ol li{
    display: inline-block;
    padding-right:0;
}