@media (max-width: 700px) {
    .top-nav {
        display: none;
    }
}
/*--------------button--------------*/
.button-sec:hover,
.button-sec:link,
.button-sec:active,
.button-sec:visited{
    color: #FFFFFF;
}


.button-sec:focus{
    color: #F14848;
    outline: #F14848;
}

.button-sec-4:hover,
.button-sec-4:link,
.button-sec-4:visited,
.button-sec-4:active{
    color: #F14848;
}


.button-sec-4:focus{
    color: #FFFFFF;
    outline: #FFFFFF;
}

/*--------------------------------------*/

a:link,
a:visited {
    color: #3D3D3D;
}

a:hover,
a:focus {
    color: #f15959;
    outline: #f15959;
}

a:active {
    color: #3D3D3D;
}
a  {
    text-decoration: none;
}

/*----------------------------------------*/
html,
body{
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color:#FFFFFF;
    width: 1924px;
}

section{
    width: inherit;
}

/*------------header----------------------*/

.main-nav li {
    list-style-type: none;
}

.main-nav > ol > li:first-child a{
    color: #f15959;
}

/*----------------sec-1-----------------*/
.headig-sec-1 h3{
    font-size: 3.6em;
    line-height: 1em;
    color: #FFFFFF;
}

.headig-sec-1 h2{
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    color: #FFFFFF;
}
.sec-1{
    background-image:url(../assets/other/homepage-featured-new-1920x745.jpg);
    height: 745px;
    width: 100%;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
}

/*-------------------sec-2---------------*/
.sec-2{
    width: 962px;
    margin: auto;
    text-align: center;
}

.heading-sec-2{
    font-size: 2.6rem;
    text-transform: uppercase;
    line-height: 1rem;
    font-weight: 300;
}

    /*----------------blog-------------------*/
.blog li {
    display: inline-block;
    text-align: center;
    margin-top: auto;
    width: 15.9%;
    height: 480px;
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
}

.blog li a{
    color: #ffffff;
}

.blog-1{
    background-image: url("");
    background-repeat: no-repeat;
    background-color: #F14848;
}
.blog-2{
    background-image: url("../assets/blog/ibc_post_EI-750x508.png");
    background-repeat: no-repeat;
}
.blog-3{
    background-image: url("../assets/blog/IMG_9294-750x563.jpeg");
    background-repeat: no-repeat;
}
.blog-4{
    background-image: url("../assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
    background-repeat: no-repeat;
}
.blog-5{
    background-image: url("../assets/blog/post_tv_connect-750x508.jpeg");
    background-repeat: no-repeat;
}
.blog-6{
    background-image: url("../assets/blog/post_quality-750x508.jpeg");
    background-repeat: no-repeat;
}

/*--------------footer--------------------*/
footer{
    background-color: #1E2024;
}
.footer-1-li li{
    background-color: #1E2024;
    list-style-type: none;
    color: #fff;
}

.footer-2-li li{
    background-color: #151515;
    color: #636363;
    list-style-type: none;
}
/*-------------------sec-4-5-------*/
.sec-4-5{

}
.sec-4-5 div{
    display: inline-block;
    background-size: cover;
    background-position: center center;
    border: none;
    width: 900px;
    height: 818px;
    float: left;
}
.sec-4{
    background-image: url("../assets/other/home-tv-service-bg1.png");
    background-color: #F14848;
    color: #F9F9F9;
    width: 900px;
    height: 818px;
}
.sec-4 h2{
    font-size: 2em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}


.sec-5{
    background-image: url("../assets/other/home-tv-service-bg2.png");
    background-color: #F9F9F9;
    width: 600px;
    height: 818px;
}

/*------------------sec-6-------------------*/
.sec-6{

}

.sec-6 h2{
    font-size: 2.6em;
    line-height: 1em;
    text-transform: uppercase;
}

.sec-6 h3{
    font-size: .8em;
    line-height: 1.2em;
}

/*-------------butten-----------------------------*/


.button-sec
{
    background-color: #F14848;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    font-size: .64em;
    line-height: 1em;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding: 1.2em 2em;
    border-radius: 1.7em;
    margin: 2em auto;
    text-transform: uppercase;
}

.button-sec-4 {
    background-color: #FFFFFF;
    color: #F14848;
    display: inline-block;
    position: relative;
    font-size: .64em;
    line-height: 1em;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding: 1.2em 2em;
    border-radius: 1.7em;
}
